
.video-section {
	background: url('couvertureehph.jfif') no-repeat fixed center ;
	background-size: cover;
	overflow: hidden;
}
 
 
.video-overlay {
    padding: 10px;
	background: linear-gradient(to left, rgba(9, 30, 62, .8), rgba(9, 30, 62, .8));
}
/* Styles for desktop */

/* Media query for mobile */
@media (max-width: 900px) {
    .video-overlay{
        padding: 5%;
    }
  }
  

video {
    outline: none;
   border: 5px solid #66DED4;
   box-shadow: 0 15px 35px rgba(1, 0.6, 0, 1.25);
}