.blog{
	background:#fff;
}
.blog .blog-title{
	text-align:center;
}
.blog .single-news {
	background: #fff;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	box-shadow: 0px 0px 10px #00000014;
}
.blog .single-news img{
	width:100%;
	margin:0;
	padding:0;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
.blog .single-news .news-head{
	position:relative;
	overflow:hidden;
}
.blog .single-news .news-content {
	text-align: left;
	background: #fff;
	z-index: 99;
	position: relative;
	padding: 30px;
	left: 0;
	z-index: 0;
}
.blog .single-news .news-content:before{
	position:absolute;
	content:"";
	left:0;
	bottom:0;
	height:2px;
	width:0%;
	background:#23B6EA;
	opacity:0;
	visibility:hidden;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
.blog .single-news:hover .news-content:before{
	opacity:1;
	visibility:visible;
	width:100%;
}
.blog .single-news .news-body h2 {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 10px;
	line-height: 24px;
}
.blog .single-news .news-body h2 a{
	color:#2C2D3F;
	font-weight: 500;
}
.blog .single-news .news-body h2 a:hover{
	color:#23B6EA;
}
.blog .single-news .news-content p {
	font-weight: 400;
	text-transform: capitalize;
	font-size: 13px;
	letter-spacing: 0px;
	line-height: 23px;
}
.blog .single-news .news-body .date {
	display: inline-block;
	font-size: 14px;
	margin-bottom: 5px;
	background: #23B6EA;
	color: #fff;
	padding: 4px 15px;
	border-radius: 3px;
	font-size: 14px;
	margin-bottom: 10px;
}
.blog.grid .single-news{
	margin-top:30px;
}
/* Blog Sidebar */
.main-sidebar {
	background: #fff;
	margin-top: 30px;
	background: transparent;
}
.main-sidebar .single-widget {
	margin-bottom: 30px;
	padding: 40px;
	background: #fff;
	-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.10);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.10);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.10);
	border-radius: 8px;
}
.main-sidebar .single-widget .title {
	position: relative;
	font-size: 18px;
	font-weight: 600;
	text-transform: capitalize;
	margin-bottom: 30px;
	display: block;
	background: #fff;
	padding-left: 12px;
}
.main-sidebar .single-widget .title::before {
	position: absolute;
	content: "";
	left: 0;
	bottom: -1px;
	height: 100%;
	width: 3px;
	background: #23B6EA;
}
.main-sidebar .single-widget:last-child{
	margin:0;
}
.main-sidebar .search{
	position:relative;
}
.main-sidebar .search input {
	width: 100%;
	height: 45px;
	box-shadow: none;
	text-shadow: none;
	font-size: 14px;
	border: none;
	color: #222;
	background: transparent;
	padding: 0 70px 0 20px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	border-radius: 0;
	border: 1px solid #eee;
	border-radius: 5px;
}
.main-sidebar .search .button {
	position: absolute;
	right: 40px;
	top: 40px;
	height: 44px;
	width: 50px;
	line-height: 45px;
	box-shadow: none;
	text-shadow: none;
	text-align: center;
	border: none;
	font-size: 14px;
	color: #fff;
	background: #333;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	border-radius: 0 5px 5px 0;
}
.main-sidebar .search .button:hover {
	background:#23B6EA;
	color:#fff;
}


.buttonn {
	padding: 0;
	margin: 0;
	border: none;
	background: none;
	cursor: pointer;
  }
  
  .buttonn {
	--primary-color: #111;
	--hovered-color: #23B6EA;
	position: relative;
	display: flex;
	font-weight: 600;
	font-size: 23px;
	gap: 0.5rem;
	align-items: center;
  }
  
  .buttonn p {
	margin: 0;
	position: relative;
	font-size: 25px;
	color: var(--primary-color);
  }
  
  .buttonn::after {
	position: absolute;
	content: "";
	width: 0;
	left: 0;
	bottom: -7px;
	background: var(--hovered-color);
	height: 2px;
	transition: 0.3s ease-out;
  }
  
  .buttonn p::before {
	position: absolute;
	/*   box-sizing: border-box; */
	content: "Lire la suite";
	width: 0%;
	inset: 0;
	color: var(--hovered-color);
	overflow: hidden;
	transition: 0.3s ease-out;
  }
  
  .buttonn:hover::after {
	width: 100%;
  }
  
  .buttonn:hover p::before {
	width: 100%;
  }
  
  .buttonn:hover svg {
	transform: translateX(4px);
	color: var(--hovered-color);
  }
  
  .buttonn svg {
	color: var(--primary-color);
	transition: 0.2s;
	position: relative;
	width: 15px;
	transition-delay: 0.2s;
  }

